/*
Theme Name: Correctional Transportation Services
Author: Anonymous
Author URI:
Version: 1
Description: Base theme for Wordpress
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: base
Tags: one-column, two-columns
Theme URI:
*/
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
	 ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
	 ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
	 ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
	 ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
	 ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
	 ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  max-width: 465px;
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
	 ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* custom select styles */
.jcf-select {
  max-width: 465px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  margin: 0 0 25px;
  color: #7f8083;
  width: 100%;
  border: 1px solid #26272f;
  height: 42px;
  text-transform: uppercase; }

.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0; }

.jcf-select .jcf-select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 16px;
  padding: 0 20px;
  line-height: 40px; }

.jcf-select .jcf-select-opener {
  position: absolute;
  top: 17px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #000; }

body > .jcf-select-drop {
  position: absolute;
  margin: -1px 0 0;
  z-index: 9999;
  border: 1px solid #26272f; }

body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0; }

.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0px;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px; }

.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto; }

/* multiple select styles */
.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px; }

/* select options styles */
.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 14px;
  font-size: 16px;
  width: 100%; }

.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%; }

.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.jcf-list ul li {
  overflow: hidden;
  display: block; }

.jcf-list .jcf-overflow {
  overflow: auto; }

.jcf-list .jcf-option {
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  padding: 10px 20px;
  color: #7f8083;
  height: 1%; }

.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important; }

.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
  background: #e6e6e6; }

.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  font-weight: bold;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000; }

.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px; }

/* custom textarea styles */
.jcf-textarea {
  box-sizing: content-box;
  display: inline-block;
  position: relative; }

.jcf-textarea .jcf-scrollbar-horizontal {
  display: none;
  height: 0; }

.jcf-textarea textarea {
  padding: 8px 10px;
  border: none;
  margin: 0; }

.jcf-textarea .jcf-resize {
  display: none;
  position: absolute;
  text-align: center;
  cursor: se-resize;
  background: #e3e3e3;
  font-weight: bold;
  line-height: 15px;
  text-indent: 1px;
  font-size: 12px;
  height: 15px;
  width: 14px;
  bottom: 0;
  right: 0; }

.jcf-textarea .jcf-resize:before {
  border: 1px solid #000;
  border-width: 0 1px 1px 0;
  display: block;
  margin: 4px 0 0 3px;
  width: 6px;
  height: 6px;
  content: ''; }

/* custom file input styles */
.jcf-file {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  background: #fff; }

.jcf-file .jcf-real-element {
  position: absolute;
  font-size: 200px;
  height: 200px;
  margin: 0;
  right: 0;
  top: 0; }

.jcf-file .jcf-fake-input {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
  overflow: hidden;
  border: 1px solid #777;
  padding: 0 8px;
  font-size: 13px;
  line-height: 28px;
  height: 28px;
  width: 125px; }

.jcf-file .jcf-upload-button {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #777;
  margin: 0 0 0 -1px;
  padding: 0 10px;
  line-height: 28px;
  height: 28px; }

/* custom scrollbars styles */
.jcf-scrollable-wrapper {
  box-sizing: content-box;
  position: relative; }

.jcf-scrollbar-vertical {
  position: absolute;
  cursor: default;
  background: #e3e3e3;
  width: 14px;
  bottom: 0;
  right: 0;
  top: 0; }

.jcf-scrollbar-vertical .jcf-scrollbar-dec,
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
  background: #bbb;
  height: 14px;
  width: 14px;
  left: 0;
  top: 0; }

.jcf-scrollbar-vertical .jcf-scrollbar-inc {
  top: auto;
  bottom: 0; }

.jcf-scrollbar-vertical .jcf-scrollbar-handle {
  background: #888;
  height: 1px;
  width: 14px; }

.jcf-scrollbar-horizontal {
  position: absolute;
  background: #e3e3e3;
  right: auto;
  top: auto;
  left: 0;
  bottom: 0;
  width: 1px;
  height: 14px; }

.jcf-scrollbar-horizontal .jcf-scrollbar-dec,
.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  background: #bbb;
  height: 14px;
  width: 14px; }

.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
  left: auto;
  right: 0; }

.jcf-scrollbar-horizontal .jcf-scrollbar-slider {
  display: inline-block;
  position: relative;
  height: 14px; }

.jcf-scrollbar-horizontal .jcf-scrollbar-handle {
  position: absolute;
  background: #888;
  height: 14px; }

.jcf-scrollbar.jcf-inactive .jcf-scrollbar-handle {
  visibility: hidden; }

.jcf-scrollbar.jcf-inactive .jcf-scrollbar-dec,
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-inc {
  background: #e3e3e3; }

/* common custom form elements styles */
.jcf-disabled {
  background: #ddd !important; }

.logo-block .logo-text, #menu, .drop ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.clearfix:after, dl:after, .widget:after, .search-form:after, .post-password-form p:after, .navigation-single:after, .drop:after, .caption:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  max-height: 1000000px;
  text-transform: initial; }

body {
  color: #333;
  background: #fff;
  font: 16px/1.2 "Open Sans", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

.gm-style img {
  max-width: none; }

ul, ol, dl, p, h1, h2, h3, h4, h5, h6, address, form, table, blockquote, applet, embed, object, iframe, frameset {
  margin: 0 0 1.2em; }

blockquote {
  border-left: 4px solid #8d96a5;
  padding-left: .5em;
  margin-left: 1.2em; }

th, td {
  border: 1px solid #8d96a5;
  padding: .5em;
  text-align: left;
  vertical-align: top; }

th {
  text-align: center;
  vertical-align: middle; }

ul, ol {
  padding-left: 3em; }

ul ul,
ul ol,
ol ul,
ol ol {
  padding-left: 3em;
  margin: 0; }

ul {
  list-style-type: disc; }

dl dt {
  float: left;
  clear: left;
  padding-right: .3em;
  font-weight: bold; }

dl dd {
  overflow: hidden; }

pre {
  max-width: 100%; }

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none; }

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  box-sizing: border-box;
  border: 1px solid #26272f;
  padding: 0.6em 0.7em; }
  input[type='text']:focus,
  input[type='tel']:focus,
  input[type='email']:focus,
  input[type='search']:focus,
  input[type='password']:focus,
  textarea:focus {
    border-color: #333; }
  input[type='text']::-webkit-input-placeholder,
  input[type='tel']::-webkit-input-placeholder,
  input[type='email']::-webkit-input-placeholder,
  input[type='search']::-webkit-input-placeholder,
  input[type='password']::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #8d96a5; }
  input[type='text']::-moz-placeholder,
  input[type='tel']::-moz-placeholder,
  input[type='email']::-moz-placeholder,
  input[type='search']::-moz-placeholder,
  input[type='password']::-moz-placeholder,
  textarea::-moz-placeholder {
    opacity: 1;
    color: #8d96a5; }
  input[type='text']:-moz-placeholder,
  input[type='tel']:-moz-placeholder,
  input[type='email']:-moz-placeholder,
  input[type='search']:-moz-placeholder,
  input[type='password']:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #8d96a5; }
  input[type='text']:-ms-input-placeholder,
  input[type='tel']:-ms-input-placeholder,
  input[type='email']:-ms-input-placeholder,
  input[type='search']:-ms-input-placeholder,
  input[type='password']:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #8d96a5; }
  input[type='text'].placeholder,
  input[type='tel'].placeholder,
  input[type='email'].placeholder,
  input[type='search'].placeholder,
  input[type='password'].placeholder,
  textarea.placeholder {
    color: #8d96a5; }

select {
  -webkit-border-radius: 0; }

textarea {
  resize: vertical;
  vertical-align: top; }

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer; }

.widget {
  margin-bottom: 1.2em; }
  .widget ul {
    padding-left: 2em; }
  .widget select {
    min-width: 150px; }

.comment-form label {
  display: block;
  padding-bottom: 4px; }

.comment-form textarea {
  overflow: auto;
  margin: 0;
  height: 120px;
  min-height: 120px; }

.comment-form textarea,
.comment-form input[type='text'] {
  margin: 0 4px 0 0;
  max-width: 300px;
  width: 100%; }

.comment-form input[type='submit'] {
  display: block;
  float: none; }

.post-password-form label {
  display: block;
  margin-bottom: 4px; }

.post-password-form input[type='password'] {
  margin: 0 4px 0 0;
  max-width: 300px;
  width: 100%; }

.search-form {
  margin-bottom: 15px; }
  .search-form input {
    float: left;
    height: 2em; }
    .search-form input[type='search'] {
      margin: 0 4px 0 0;
      width: 150px; }

.post-password-form input {
  float: left;
  height: 2em; }
  .post-password-form input[type='password'] {
    width: 150px; }

.comment-form input[type='submit'],
.post-password-form input[type='submit'],
.search-form input[type='submit'] {
  background: #333;
  color: #fff;
  height: 2em;
  border: none;
  padding: 0 .5em; }
  .comment-form input[type='submit']:hover,
  .post-password-form input[type='submit']:hover,
  .search-form input[type='submit']:hover {
    opacity: 0.8; }

.commentlist {
  margin: 0 0 1.2em; }
  .commentlist .edit-link {
    margin: 0; }
  .commentlist .avatar-holder {
    float: left;
    margin: 0 1.2em 4px 0; }

.commentlist-item .commentlist-item {
  padding: 0; }
  @media (min-width: 768px) {
    .commentlist-item .commentlist-item {
      padding: 0 0 0 2em; } }

.comment,
.commentlist-holder {
  overflow: hidden; }

.commentlist-item .commentlist-item,
.commentlist-item + .commentlist-item {
  padding-top: 1.2em; }

.widget_calendar #next {
  text-align: right; }

.gallery-item dt {
  float: none;
  padding: 0; }

.navigation,
.navigation-comments {
  position: relative;
  vertical-align: middle;
  margin-bottom: 1.2em; }
  .navigation .screen-reader-text,
  .navigation-comments .screen-reader-text {
    position: absolute;
    left: -99999px; }
  .navigation .page-numbers,
  .navigation-comments .page-numbers {
    display: inline-block;
    vertical-align: middle;
    padding: 0 .4em; }
    @media (max-width: 767px) {
      .navigation .page-numbers,
      .navigation-comments .page-numbers {
        padding: 0 3px; } }
  .navigation .next,
  .navigation .prev,
  .navigation-comments .next,
  .navigation-comments .prev {
    display: inline-block;
    vertical-align: middle;
    max-width: 48%;
    background: #333;
    color: #fff;
    padding: .4em;
    text-decoration: none; }
    @media (max-width: 767px) {
      .navigation .next,
      .navigation .prev,
      .navigation-comments .next,
      .navigation-comments .prev {
        padding: .2em; } }
    .navigation .next:hover,
    .navigation .prev:hover,
    .navigation-comments .next:hover,
    .navigation-comments .prev:hover {
      opacity: 0.8; }

.navigation-single {
  margin-bottom: 1.2em; }
  .navigation-single .next,
  .navigation-single .prev {
    float: left;
    vertical-align: middle;
    max-width: 48%;
    background: #333;
    color: #fff;
    text-decoration: none; }
    .navigation-single .next:hover,
    .navigation-single .prev:hover {
      opacity: 0.8; }
    .navigation-single .next a,
    .navigation-single .prev a {
      color: inherit;
      text-decoration: none;
      padding: .4em;
      display: block; }
      @media (max-width: 767px) {
        .navigation-single .next a,
        .navigation-single .prev a {
          padding: .2em; } }
  .navigation-single .next {
    float: right; }

.wp-caption {
  max-width: 100%;
  clear: both;
  border: 1px solid #8d96a5;
  padding: .4em;
  margin-bottom: 1.2em; }
  .wp-caption img {
    margin: 0;
    vertical-align: top; }
  .wp-caption p {
    margin: .4em 0 0; }

div.aligncenter {
  margin: 0 auto 1.2em; }

img.aligncenter {
  display: block;
  margin: 0 auto; }

.alignleft {
  float: left;
  margin: 0 1.2em 4px 0; }

.alignright {
  float: right;
  margin: 0 0 4px 1.2em; }

.mejs-container {
  margin-bottom: 1.2em; }

.wp-caption-text,
.gallery,
.alignnone,
.gallery-caption,
.sticky,
.bypostauthor {
  height: auto; }

@media (max-width: 1023px) {
  iframe {
    width: 100%; } }

#wp-calendar tbody td {
  text-align: center; }

#wp-calendar td,
#wp-calendar th {
  border: 1px solid #8d96a5; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  font-family: inherit;
  font-weight: bold;
  margin: 0 0 0.5em;
  color: inherit; }

h1, .h1 {
  font-size: 71px; }

h2, .h2 {
  font-size: 45px; }

h3, .h3 {
  font-size: 64px; }

h4, .h4 {
  font-size: 21px; }

h5, .h5 {
  font-size: 17px; }

h6, .h6 {
  font-size: 15px; }

p {
  font-weight: 400;
  margin: 0 0 1em; }

a {
  color: #39f; }
  a:hover, a:focus {
    text-decoration: none; }

#wrapper {
  overflow: hidden;
  position: relative; }

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden; }

header {
  position: relative;
  background-color: #26272f;
  border-bottom: 10px solid #8d3944; }

.head {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins", sans-serif; }
  @media (max-width: 1023px) {
    .head {
      padding: 10px 0; } }

.logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .logo-block .logo {
    padding: 0 10px; }
    .logo-block .logo a {
      display: block; }
      @media (max-width: 1023px) {
        .logo-block .logo a img {
          width: 40px; } }
  .logo-block .logo-text {
    color: #fff;
    font-size: 13px; }
    @media (max-width: 1023px) {
      .logo-block .logo-text {
        font-size: 10px; } }

#menu {
  line-height: 30px; }

.nav-opener {
  width: 50px;
  height: 40px;
  position: relative;
  z-index: 9999;
  display: none;
  float: right;
  overflow: hidden; }
  @media (max-width: 767px) {
    .nav-opener {
      display: block; } }
  .nav-opener:hover {
    opacity: .9; }
  .nav-active .nav-opener span {
    opacity: 0; }
  .nav-active .nav-opener:before, .nav-active .nav-opener:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 50%;
    left: 15%;
    right: 15%; }
  .nav-active .nav-opener:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .nav-opener span, .nav-opener:before, .nav-opener:after {
    background: #dfdfe0;
    position: absolute;
    top: 50%;
    left: 25%;
    right: 25%;
    height: 3px;
    margin-top: -2px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear; }
  .nav-opener:before, .nav-opener:after {
    content: '';
    top: 30%; }
  .nav-opener span {
    content: ''; }
  .nav-opener:after {
    top: 70%; }

@media (max-width: 767px) {
  .drop {
    top: 100%;
    left: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
    z-index: 999;
    background-color: #26272f;
    border-top: 5px solid #8d3944;
    border-bottom: 5px solid #8d3944;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
            transform: translate(100%, 0); } }
  @media (max-width: 767px) and (max-width: 767px) {
    .nav-active .drop {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
              transform: translate(0, 0);
      -webkit-transition: -webkit-transform .3s linear;
      transition: -webkit-transform .3s linear;
      transition: transform .3s linear;
      transition: transform .3s linear, -webkit-transform .3s linear; } }

.drop ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600; }
  @media (max-width: 1023px) {
    .drop ul {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  @media (max-width: 767px) {
    .drop ul {
      text-align: center; } }
  @media (max-width: 479px) {
    .drop ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .drop ul li {
    position: relative;
    padding: 0 30px; }
    @media (max-width: 1023px) {
      .drop ul li {
        padding: 0 10px; } }
    @media (max-width: 767px) {
      .drop ul li {
        padding: 10px; } }
    @media (max-width: 479px) {
      .drop ul li {
        padding: 5px 0; } }
    .drop ul li a {
      font-size: 20px;
      color: #dfdfe0;
      text-decoration: none; }
      @media (max-width: 1023px) {
        .drop ul li a {
          font-size: 16px; } }
      @media (max-width: 767px) {
        .drop ul li a {
          font-size: 14px;
          display: block;
          padding: 5px; } }
      .drop ul li a:hover {
        color: #8d96a5; }
    .drop ul li .tel {
      color: #8d3944; }
    .drop ul li:last-child {
      padding: 0; }
      @media (max-width: 767px) {
        .drop ul li:last-child {
          padding: 10px 0; } }
      @media (max-width: 479px) {
        .drop ul li:last-child {
          padding: 5px 0; } }

footer {
  color: #fff; }

a {
  color: #fff;
  display: inline-block;
  text-decoration: none; }
  a:hover {
    color: #8d96a5; }

.footer-block-1 {
  padding: 45px 0;
  background-color: #26272f; }
  @media (max-width: 479px) {
    .footer-block-1 {
      padding: 20px 0; } }

.footer-block-2 {
  padding: 15px 0;
  background-color: #202027; }

.top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  @media (max-width: 1199px) {
    .top-footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .top-footer .post-link {
    width: 30%;
    font-size: 20px;
    padding: 20px 10px 0 0;
    line-height: 2; }
    @media (max-width: 1199px) {
      .top-footer .post-link {
        width: 80%;
        margin: 0 auto 20px; } }
    @media (max-width: 1023px) {
      .top-footer .post-link {
        width: 95%; } }
    @media (max-width: 479px) {
      .top-footer .post-link {
        font-size: 13px; } }
    .top-footer .post-link .footer-logo {
      margin: 0 0 15px; }
      @media (max-width: 479px) {
        .top-footer .post-link .footer-logo img {
          width: 180px; } }
    .top-footer .post-link .group {
      line-height: 1.8; }
      .top-footer .post-link .group .mail {
        margin: 0 0 10px; }
        .top-footer .post-link .group .mail span {
          color: #a03d49; }
      .top-footer .post-link .group .phone {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        @media (max-width: 1199px) {
          .top-footer .post-link .group .phone {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: inherit;
                    flex-direction: inherit; } }
        @media (max-width: 479px) {
          .top-footer .post-link .group .phone {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column; } }
        .top-footer .post-link .group .phone span {
          color: #8d3944; }
  .top-footer .footer-post {
    width: 68%;
    padding: 5px 20px 40px 55px;
    position: relative;
    font-size: 20px;
    line-height: 1.5;
    border-left: 4px solid #8d3944; }
    @media (max-width: 1199px) {
      .top-footer .footer-post {
        width: 80%;
        margin: 0 auto;
        padding: 5px 0 40px 55px; } }
    @media (max-width: 1023px) {
      .top-footer .footer-post {
        width: 95%; } }
    @media (max-width: 767px) {
      .top-footer .footer-post {
        width: 100%;
        padding: 0px 0 20px 15px; } }
    .top-footer .footer-post h3 {
      margin: 0 0 25px; }
      @media (max-width: 767px) {
        .top-footer .footer-post h3 {
          font-size: 40px;
          margin: 0 0 15px; } }
      @media (max-width: 479px) {
        .top-footer .footer-post h3 {
          font-size: 30px; } }
    .top-footer .footer-post p {
      margin: 0 0 45px; }
      @media (max-width: 767px) {
        .top-footer .footer-post p {
          font-size: 13px;
          margin: 0 0 15px; } }
    .top-footer .footer-post a {
      padding: 10px 30px;
      border-radius: 10px;
      color: #fff;
      font-weight: bold;
      font-size: 17px;
      background: #a03d49; }
      @media (max-width: 767px) {
        .top-footer .footer-post a {
          font-size: 13px; } }
      .top-footer .footer-post a:hover {
        background: #8d96a5; }

.copyright {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px; }
  @media (max-width: 1023px) {
    .copyright {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media (max-width: 767px) {
    .copyright {
      text-align: center; } }
  .copyright p {
    margin: 0;
    padding: 0 10px 0 0; }
    @media (max-width: 479px) {
      .copyright p {
        margin: 0 0 10px; } }
  .copyright .copyright-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .copyright .copyright-link a {
      padding: 0 5px;
      color: #a03d49; }
      .copyright .copyright-link a:hover {
        color: #8d96a5; }

.visual {
  min-height: 514px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }
  @media (max-width: 1023px) {
    .visual {
      min-height: 330px; } }
  @media (max-width: 479px) {
    .visual {
      min-height: 290px; } }

.second {
  min-height: 401px;
  background: right top;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 1023px) {
    .second {
      min-height: 325px; } }

.page-2-bg {
  min-height: 196px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.caption {
  width: 50%;
  padding: 12px 5px;
  float: right;
  position: relative;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
  letter-spacing: 3px;
  line-height: 1.05; }
  @media (max-width: 1199px) {
    .caption {
      margin: 0 auto; } }
  @media (max-width: 1023px) {
    .caption {
      -webkit-transform: translate(0, 30%);
          -ms-transform: translate(0, 30%);
              transform: translate(0, 30%); } }
  @media (max-width: 767px) {
    .caption {
      float: none; } }
  @media (max-width: 479px) {
    .caption {
      width: 90%;
      -webkit-transform: translate(0, 50%);
          -ms-transform: translate(0, 50%);
              transform: translate(0, 50%); } }
  .caption:after {
    top: 15px;
    height: 215px;
    border: 2px solid #8d3944;
    border-radius: 10px;
    position: absolute; }
    @media (max-width: 1023px) {
      .caption:after {
        height: 160px; } }
    @media (max-width: 479px) {
      .caption:after {
        height: 110px; } }
  .caption h1 {
    padding: 0 0 0 46px;
    color: #fff; }
    @media (max-width: 1023px) {
      .caption h1 {
        font-size: 50px; } }
    @media (max-width: 479px) {
      .caption h1 {
        font-size: 36px; } }

.content {
  padding: 45px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 1199px) {
    .content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media (max-width: 767px) {
    .content {
      padding: 35px 0 0; } }
  .content .post {
    padding: 5px 0 15px 30px;
    width: 31%;
    line-height: 1.5;
    border-left: 4px solid #8d3944; }
    @media (max-width: 1199px) {
      .content .post {
        width: 80%;
        margin: 0 0 40px; } }
    @media (max-width: 1023px) {
      .content .post {
        width: 95%; } }
    @media (max-width: 767px) {
      .content .post {
        width: 100%;
        font-size: 13px;
        padding: 5px 0 15px 15px; } }
    .content .post h2 {
      margin: 0 0 10px; }
      @media (max-width: 767px) {
        .content .post h2 {
          font-size: 30px; } }
    .content .post p {
      margin: 0 0 40px; }
      @media (max-width: 767px) {
        .content .post p {
          width: 100%; } }
    .content .post a {
      padding: 12px 34px;
      border-radius: 10px;
      color: #fff;
      font-weight: bold;
      background: #a03d49;
      text-decoration: none;
      display: inline-block; }
      @media (max-width: 767px) {
        .content .post a {
          padding: 10px 30px; } }
      .content .post a:hover {
        background: #8d96a5; }
  .content .other {
    width: 50%;
    font-size: 20px;
    padding: 110px 10px 0 40px;
    margin: 0 auto;
    color: #fff;
    font-size: 20px;
    line-height: 1.4;
    border-left: 4px solid #8d3944; }
    @media (max-width: 1199px) {
      .content .other {
        width: 80%;
        padding: 0 30px;
        position: inherit;
        margin: 0 0 30px; } }
    @media (max-width: 1023px) {
      .content .other {
        width: 95%; } }
    @media (max-width: 767px) {
      .content .other {
        width: 100%;
        padding: 0 0 0 30px; } }
    .content .other:first-child {
      border-left: none; }
      @media (max-width: 1199px) {
        .content .other:first-child {
          border-left: 4px solid #8d3944; } }
      .content .other:first-child h2 {
        padding: 0; }
      .content .other:first-child .p-text {
        padding: 0 20px 0 0;
        letter-spacing: 0.8px; }
        @media (max-width: 767px) {
          .content .other:first-child .p-text {
            padding: 0; } }
    .content .other h2 {
      font-size: 64px;
      margin: 0 0 20px; }
      @media (max-width: 767px) {
        .content .other h2 {
          font-size: 35px; } }
    .content .other .p-text {
      padding: 0 20px 0 0;
      letter-spacing: 0.8px; }
      @media (max-width: 1199px) {
        .content .other .p-text {
          padding: 0; } }
      @media (max-width: 767px) {
        .content .other .p-text {
          font-size: 13px; } }
      @media (max-width: 1199px) {
        .content .other .p-text p {
          margin: 0; } }
  .content .next {
    width: 66%; }
    @media (max-width: 1199px) {
      .content .next {
        width: 80%; } }
    @media (max-width: 1023px) {
      .content .next {
        width: 95%; } }
    @media (max-width: 767px) {
      .content .next {
        width: 100%; } }

.contentpage-2 {
  max-width: 865px;
  display: block;
  padding: 45px 0 0; }
  @media (max-width: 479px) {
    .contentpage-2 {
      padding: 20px 0; } }
  .contentpage-2 .nextpage {
    margin: 0 0 15px;
    letter-spacing: -0.5px;
    padding: 13px 0 5px 30px;
    border-left: 4px solid #8d3944; }
    .contentpage-2 .nextpage h1 {
      font-size: 45px;
      margin: 0; }
      @media (max-width: 767px) {
        .contentpage-2 .nextpage h1 {
          font-size: 36px; } }
    .contentpage-2 .nextpage p {
      font-size: 30px; }
      @media (max-width: 767px) {
        .contentpage-2 .nextpage p {
          font-size: 20px; } }

.post-group, .page-group {
  max-width: 865px;
  padding: 0 0 35px 30px;
  line-height: 1.9;
  word-spacing: 2px; }
  @media (max-width: 767px) {
    .post-group, .page-group {
      padding: 0 0 35px; } }
  .post-group h2, .page-group h2 {
    margin: 0;
    font-size: 30px; }
    @media (max-width: 767px) {
      .post-group h2, .page-group h2 {
        font-size: 24px;
        line-height: 1;
        margin: 0 0 15px; } }
  .post-group p, .page-group p {
    margin: 0 0 25px; }
    @media (max-width: 767px) {
      .post-group p, .page-group p {
        font-size: 13px; } }
  .post-group blockquote, .page-group blockquote {
    margin: 0;
    background: #d4d4d5;
    padding: 35px 80px;
    border-radius: 10px;
    line-height: 1.2;
    border: none;
    word-spacing: 0;
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    font-family: "Open Sans", "Arial", "Helvetica Neue", "Helvetica", sans-serif; }
    @media (max-width: 767px) {
      .post-group blockquote, .page-group blockquote {
        padding: 35px 30px;
        font-size: 20px; } }
    @media (max-width: 479px) {
      .post-group blockquote, .page-group blockquote {
        padding: 20px 30px; } }
    .post-group blockquote p, .page-group blockquote p {
      font-weight: inherit;
      margin: 0; }
  .post-group .list, .page-group .list {
    margin: 0 0 40px;
    padding: 0 0 0 15px;
    list-style: none; }
    @media (max-width: 767px) {
      .post-group .list, .page-group .list {
        margin: 0 0 25px; } }
    .post-group .list li, .page-group .list li {
      position: relative; }
      @media (max-width: 767px) {
        .post-group .list li, .page-group .list li {
          font-size: 13px; } }
      .post-group .list li:before, .page-group .list li:before {
        content: '';
        top: 12px;
        left: -15px;
        border: 2px solid #a03d49;
        font-size: 0;
        border-radius: 50%;
        position: absolute; }
  .post-group a, .page-group a {
    padding: 6px 34px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    background: #a03d49;
    text-decoration: none;
    display: inline-block; }
    @media (max-width: 767px) {
      .post-group a, .page-group a {
        padding: 10px 30px;
        font-size: 13px; } }
    .post-group a:hover, .page-group a:hover {
      background: #8d96a5; }

.page-group {
  padding: 0 0 75px 30px; }
  @media (max-width: 767px) {
    .page-group {
      padding: 0 0 35px; } }
  @media (max-width: 479px) {
    .page-group {
      padding: 0 0 15px; } }
  .page-group p:last-of-type {
    margin: 0 0 63px; }
    @media (max-width: 767px) {
      .page-group p:last-of-type {
        margin: 0 0 25px; } }

.form {
  max-width: 865px;
  padding: 48px 0 80px; }
  .form form {
    padding: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-left: 4px solid #8d3944; }
    .form form h1 {
      margin: 0 0 15px;
      font-size: 46px; }
      @media (max-width: 767px) {
        .form form h1 {
          font-size: 36px; } }
    .form form label {
      margin: 0 0 2px;
      color: #7f8083; }
    .form form input {
      margin: 0 0 25px; }
    .form form textarea {
      min-height: 165px;
      margin: 0 0 35px; }
    .form form button {
      max-width: 170px;
      padding: 12px 25px;
      border: none;
      border-radius: 10px;
      color: #fff;
      font-weight: bold;
      background: #a03d49;
      text-decoration: none;
      display: inline-block; }
      @media (max-width: 479px) {
        .form form button {
          margin: 0 auto; } }
      .form form button:hover {
        background: #8d96a5; }
/*# sourceMappingURL=style.css.map */