.visual {
	min-height: 514px;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	@include media('<desktop') {
		min-height: 330px;
	}
	@include media('<phone') {
		min-height: 290px;
	}
}

.second {
	min-height: 401px;
	background: right top;
	background-repeat: no-repeat;
	background-size: cover;
	@include media('<desktop') {
		min-height: 325px;
	}
}

.page-2-bg {
	min-height: 196px;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.caption {
	width: 50%;
	padding: 12px 5px;
	float: right;
	position: relative;
	transform: translate(0, 50%);
	letter-spacing: 3px;
	line-height: 1.05;
	@include media('<widescreen') {
		margin: 0 auto;
	}
	@include media('<desktop') {
		transform: translate(0, 30%);
	}
	@include media('<tablet') {
		float: none;
	}
	@include media('<phone') {
		width: 90%;
		transform: translate(0, 50%);
	}
	&:after {
		@extend %clearfix;
		top: 15px;
		height: 215px;
		border: 2px solid $red;
		border-radius: 10px;
		position: absolute;
		@include media('<desktop') {
			height: 160px;
		}
		@include media('<phone') {
			height: 110px;
		}
	}
	h1 {
		padding: 0 0 0 46px;
		color: $white;
		@include media('<desktop') {
			font-size: 50px;
		}
		@include media('<phone') {
			font-size: 36px;
		}
	}
}

.content {
	padding: 45px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include media('<widescreen') {
		flex-direction: column;
	}
	@include media('<tablet') {
		padding: 35px 0 0;
	}
	.post {
		padding: 5px 0 15px 30px;
		width: 31%;
		line-height: 1.5;
		border-left: 4px solid $red;
		@include media('<widescreen') {
			width: 80%;
			margin: 0 0 40px;
		}
		@include media('<desktop') {
			width: 95%;
		}
		@include media('<tablet') {
			width: 100%;
			font-size: 13px;
			padding: 5px 0 15px 15px;
		}
		h2 {
			margin: 0 0 10px;
			@include media('<tablet') {
				font-size: 30px;
			}
		}
		p {
			margin: 0 0 40px;
			@include media('<tablet') {
				width: 100%;
			}
		}
		a {
			padding: 12px 34px;
			border-radius: 10px;
			color: $white;
			font-weight: bold;
			background: $light-red;
			text-decoration: none;
			display: inline-block;
			@include media('<tablet') {
				padding: 10px 30px;
			}
			&:hover {
				background: $gray;
			}
		}
	}
	.other {
		width: 50%;
		font-size: 20px;
		padding: 110px 10px 0 40px;
		margin: 0 auto;
		color: $white;
		font-size: 20px;
		line-height: 1.4;
		border-left: 4px solid $red;
		@include media('<widescreen') {
			width: 80%;
			padding: 0 30px;
			position: inherit;
			margin: 0 0 30px;
		}
		@include media('<desktop') {
			width: 95%;
		}
		@include media('<tablet') {
			width: 100%;
			padding: 0 0 0 30px;
		}
		&:first-child {
			border-left: none;
			@include media('<widescreen') {
				border-left: 4px solid $red
			}
			h2 {
				padding: 0;
			}
			.p-text {
				padding: 0 20px 0 0;
				letter-spacing: 0.8px;
				@include media('<tablet') {
					padding: 0;
				}
			}
		}
		h2 {
			font-size: 64px;
			margin: 0 0 20px;
			@include media('<tablet') {
				font-size: 35px;
			}
		}
		.p-text {
			padding: 0 20px 0 0;
			letter-spacing: 0.8px;
			@include media('<widescreen') {
				padding: 0;
			}
			@include media('<tablet') {
				font-size: 13px;
			}
			p {
				@include media('<widescreen') {
					margin: 0;
				}
			}
		}
	}
	.next {
		width: 66%;
		@include media('<widescreen') {
			width: 80%;
		}
		@include media('<desktop') {
			width: 95%;
		}
		@include media('<tablet') {
			width: 100%;
		}
	}
}

.contentpage-2 {
	max-width: 865px;
	display: block;
	padding: 45px 0 0;
	@include media('<phone') {
		padding: 20px 0;
	}
	.nextpage {
		margin: 0 0 15px;
		letter-spacing: -0.5px;
		padding: 13px 0 5px 30px;
		border-left: 4px solid $red;
		h1 {
			font-size: 45px;
			margin: 0;
			@include media('<tablet') {
				font-size: 36px;
			}
		}
		p {
			font-size: 30px;
			@include media('<tablet') {
				font-size: 20px;
			}
		}
	}
}

.post-group, .page-group {
	max-width: 865px;
	padding: 0 0 35px 30px;
	line-height: 1.9;
	word-spacing: 2px;
	@include media('<tablet') {
		padding: 0 0 35px;
	}
	h2 {
		margin: 0;
		font-size: 30px;
		@include media('<tablet') {
			font-size: 24px;
			line-height: 1;
			margin: 0 0 15px;
		}
	}
	p {
		margin: 0 0 25px;
		@include media('<tablet') {
			font-size: 13px;
		}
	}
	blockquote {
		margin: 0;
		background: $white-grey-2;
		padding: 35px 80px;
		border-radius: 10px;
		line-height: 1.2;
		border: none;
		word-spacing: 0;
		font-size: 30px;
		font-weight: 600;
		font-style: italic;
		font-family: $base-font-sans-serif;
		@include media('<tablet') {
			padding: 35px 30px;
			font-size: 20px;
		}
		@include media('<phone') {
			padding: 20px 30px;
		}
		p {
			font-weight: inherit;
			margin: 0;
		}
	}
	.list {
		margin: 0 0 40px;
		padding: 0 0 0 15px;
		list-style: none;
		@include media('<tablet') {
			margin: 0 0 25px;
		}
		li {
			position: relative;
			@include media('<tablet') {
				font-size: 13px;
			}
			&:before {
				content: '';
				top: 12px;
				left: -15px;
				border: 2px solid $light-red;
				font-size: 0;
				border-radius: 50%;
				position: absolute;
			}
		}
	}
	a {
		padding: 6px 34px;
		border-radius: 10px;
		color: $white;
		font-weight: bold;
		background: $light-red;
		text-decoration: none;
		display: inline-block;
		@include media('<tablet') {
			padding: 10px 30px;
			font-size: 13px;
		}
		&:hover {
			background: $gray;
		}
	}
}

.page-group {
	padding: 0 0 75px 30px;
	@include media('<tablet') {
		padding: 0 0 35px;
	}
	@include media('<phone') {
		padding: 0 0 15px;
	}
	p {
		&:last-of-type {
			margin: 0 0 63px;
			@include media('<tablet') {
				margin: 0 0 25px;
			}
		}
	}
}

.form {
	max-width: 865px;
	padding: 48px 0 80px;
	form {
		padding: 0 30px;
		display: flex;
		flex-direction: column;
		border-left: 4px solid $red;
		h1 {
			margin: 0 0 15px;
			font-size: 46px;
			@include media('<tablet') {
				font-size: 36px;
			}
		}
		label {
			margin: 0 0 2px;
			color: $white-grey-3;
		}
		input {
			margin: 0 0 25px;
		}
		textarea {
			min-height: 165px;
			margin: 0 0 35px;
		}
		button {
			max-width: 170px;
			padding: 12px 25px;
			border: none;
			border-radius: 10px;
			color: $white;
			font-weight: bold;
			background: $light-red;
			text-decoration: none;
			display: inline-block;
			@include media('<phone') {
				margin: 0 auto;
			}
			// @include media('<325px') {
			// 	margin: inherit;
			// 	max-width: inherit;
			// }
			&:hover {
				background: $gray;
			}
		}
	}
}