footer {
	color: $white;
}

a {
	color: $white;
	display: inline-block;
	text-decoration: none;
	&:hover {
		color: $gray;
	}
}

.footer-block-1 {
	padding: 45px 0;
	background-color: $dark-grey;
	@include media('<phone') {
		padding: 20px 0;
	}
}

.footer-block-2 {
	padding: 15px 0;
	background-color: $dark-grey-2;
}

.top-footer {
	display: flex;
	justify-content: space-around;
	@include media('<widescreen') {
		flex-direction: column;
	}
	.post-link {
		width: 30%;
		font-size: 20px;
		padding: 20px 10px 0 0;
		line-height: 2;
		@include media('<widescreen') {
			width: 80%;
			margin: 0 auto 20px;
		}
		@include media('<desktop') {
			width: 95%;
		}
		@include media('<phone') {
			font-size: 13px;
		}
		.footer-logo {
			margin: 0 0 15px;
			img {
				@include media('<phone') {
					width: 180px;
				}
			}
		}
		.group {
			line-height: 1.8;
			.mail {
				margin: 0 0 10px;
				span {
					color: $light-red;
				}
			}
			.phone {
				display: flex;
				flex-direction: column;
				@include media('<widescreen') {
					flex-direction: inherit;
				}
				@include media('<phone') {
					flex-direction: column;
				}
				span {
					color: $red;
				}
			}
		}
	}
	.footer-post {
		width: 68%;
		padding: 5px 20px 40px 55px;
		position: relative;
		font-size: 20px;
		line-height: 1.5;
		border-left: 4px solid $red;
		@include media('<widescreen') {
			width: 80%;
			margin: 0 auto;
			padding: 5px 0 40px 55px;
		}
		@include media('<desktop') {
			width: 95%;
		}
		@include media('<tablet') {
			width: 100%;
			padding: 0px 0 20px 15px;
		}
		h3 {
			margin: 0 0 25px;
			@include media('<tablet') {
				font-size: 40px;
				margin: 0 0 15px;
			}
			@include media('<phone') {
				font-size: 30px;
				// margin: 0 0 15px;
			}
		}
		p {
			margin: 0 0 45px;
			@include media('<tablet') {
				font-size: 13px;
				margin: 0 0 15px;
			}
		}
		a {
			padding: 10px 30px;
			border-radius: 10px;
			color: $white;
			font-weight: bold;
			font-size: 17px;
			background: $light-red;
			@include media('<tablet') {
				font-size: 13px;
			}
			&:hover {
				background: $gray;
			}
		}
	}
}

.copyright {
	padding: 0 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-size: 12px;
	@include media('<desktop') {
		justify-content: center;
	}
	@include media('<tablet') {
		text-align: center;
	}
	p {
		margin: 0;
		padding: 0 10px 0 0;
		@include media('<phone') {
			margin: 0 0 10px;
		}
	}
	.copyright-link {
		display: flex;
		a {
			padding: 0 5px;
			color: $light-red;
			&:hover {
				color: $gray;
			}
		}
	}
}

