header {
	position: relative;
	background-color: $dark-grey;
	border-bottom: 10px solid $red;
}

.head {
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: $base-font-poppins;
	@include media('<desktop') {
		padding: 10px 0;
	}
}

.logo-block {
	display: flex;
	align-items: center;
	.logo {
		padding: 0 10px;
		a {
			display: block;
			img {
				@include media('<desktop') {
					width: 40px;
				}
			}
		}
	}
	.logo-text {
		@extend %listreset;
		color: $white;
		font-size: 13px;
		@include media('<desktop') {
			font-size: 10px;
		}
	}
}

#menu {
	@extend %listreset;
	line-height: 30px;
}

.nav-opener {
	width: 50px;
	height: 40px;
	position: relative;
	z-index: 9999;
	display: none;
	float: right;
	overflow: hidden;
	@include media('<tablet') {
		display: block;
	}
	&:hover {
		opacity:.9; 
	}
	.nav-active & {
		span {
			opacity: 0;
		}
		&:before,
		&:after {
			transform: rotate(45deg);
			top:50%;
			left:15%;
			right:15%;
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
	span,
	&:before,
	&:after {
		background: $white-grey;
		position: absolute;
		top: 50%;
		left: 25%;
		right: 25%;
		height: 3px;
		margin-top: -2px;
		transition: all .3s linear;
	}
	&:before,
	&:after {
		content: '';
		top: 30%;
	}
	span {
		content: '';
	}
	&:after {
		top: 70%;
	}
}

.drop {
	@extend %clearfix;
	@include media('<tablet') {
		top: 100%;
		left: 0;
		right: 0;
		position: absolute;
		overflow: hidden;
		z-index: 999;
		background-color: $dark-grey;
		border-top: 5px solid $red;
		border-bottom: 5px solid $red;
		opacity: 0;
		visibility: hidden;
		transform: translate(100%, 0);
		.nav-active & {
			@include media('<tablet') {
				opacity: 1;
				visibility: visible;
				transform: translate(0, 0);
				transition: transform .3s linear;
			}
		}
	}
	ul {
		@extend %listreset;
		display: flex;
		font-weight: 600;
		@include media('<desktop') {
			flex-wrap: wrap;
		}
		@include media('<tablet') {
			text-align: center;
		}
		@include media('<phone') {
			flex-direction: column;
		}
		li {
			position: relative;
			padding: 0 30px;
			@include media('<desktop') {
				padding: 0 10px;
			}
			@include media('<tablet') {
				padding: 10px;
			}
			@include media('<phone') {
				padding: 5px 0;
			}
			a {
				font-size: 20px;
				color: $white-grey;
				text-decoration: none;
				@include media('<desktop') {
					font-size: 16px;
				}
				@include media('<tablet') {
					font-size: 14px;
					display: block;
					padding: 5px;
				}
				&:hover {
					color: $gray;
				}
			}
			.tel {
				color: $red;
			}
			&:last-child {
				padding: 0;
				@include media('<tablet') {
					padding: 10px 0;
				}
				@include media('<phone') {
					padding: 5px 0;
				}
			}
		}
	}
}