/*
Theme Name: Correctional Transportation Services
Author: Anonymous
Author URI:
Version: 1
Description: Base theme for Wordpress
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: base
Tags: one-column, two-columns
Theme URI:
*/

$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
	);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
	);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';
@import 'vendors/jcf';

@import 'base/variables';	
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/cms-reset';
@import 'base/forms';
@import 'base/wp-reset';
@import 'base/typography';

body {
	// position: relative;
}

#wrapper {
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
	overflow: hidden;
	// @include media('<widescreen') {
	// 	padding: 0 10px;
	// }
}

@import 'layout/header';
@import 'layout/footer';
@import 'layout/common';